

@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@700&display=swap');
body{
  font-family:'Handjet', cursive!important ;
 
  background-color: #161616 !important;
  color: #19eeee!important;
}

h1{
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  margin: 40px 0;
}
form{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}
#search-input{
  width: 60%;
  max-width: 400px;
  padding: 10px 30px;
  border: none;
  box-shadow: 0 0 6px rgba(0,0,0,0.2);
  border-radius: 5px;
  font-size: 18px;
  color: #333232;
  cursor:auto
}
#search-button{
  padding: 10px 20px ;
  background: #0294f5;
  border: none;
  color: aliceblue;
  margin: 0 10px;
  box-shadow: 0 0 6px rgba(210, 221, 220, 0.2);
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

.search-results{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  flex-wrap: wrap;
  max-width: 1200px;
 
}

.search-result{
  margin: 0 20px 60px 20px;
  border-radius: 5px;
  box-shadow: 0 0 6px rgba(103, 226, 216, 0.637);
  overflow: hidden;
  width: 30%;
  height: 100%;
}
.search-result img{
  width: 100%;
  height: 205px;
  object-fit: cover;
  transition: opacity 0.2s ease-in-out;
}

.search-result:hover img{
  opacity: 0.5;
}
.search-result a{
  text-align: center;
  text-decoration: none;
  padding: 10px;
  font-size: 20px;
  display: block;
  color: rgb(243, 214, 152);
  text-transform: capitalize;
}

#show-more-button{
  padding: 10px  ;
  background: #0294f5;
  border: none;
  color: aliceblue;
  margin: 10px auto;
  box-shadow: 0 0 6px rgba(210, 221, 220, 0.2);
  border-radius: 5px;
  cursor: pointer;
  display: block;
  display: none;
  
}
@media screen and (max-width:768px) {
  .search-results{
    padding: 20px;
  }
  .search-result{
    width: 45%;
  }
  }
@media screen and (max-width:480px) {
  .search-result{
    width: 100%;
  }
  }


